<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="Exceptions\DivisionByZeroException.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="14" severity="error" message="No summary for property $message" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="Mather.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="Traits\Constant.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="Traits\Shortcut.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="19" severity="error" message="No summary for method sum()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="29" severity="error" message="No summary for method sub()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="39" severity="error" message="No summary for method mul()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="51" severity="error" message="No summary for method div()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="62" severity="error" message="No summary for method pow()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="Traits\Operation.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
</checkstyle>
